name: Release

on:
  push:
    tags:
      - '*'
  workflow_dispatch:

jobs:

  release:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 17

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Bump version
        run: ./gradlew generateVersionJson

      - name: Generate Keystore
        env:
          KEYSTORE_BASE64: ${{ secrets.KEYSTORE_BASE64 }}
        run: |
          echo $KEYSTORE_BASE64 | base64 --decode > app/keystore.jks

      - name: Build
        env:
          KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
          KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
          KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
        run: |
          git update-index --assume-unchanged version.json
          ./gradlew assembleApk \
          -Pandroid.injected.signing.store.file="keystore.jks" \
          -Pandroid.injected.signing.store.password="$KEYSTORE_PASSWORD" \
          -Pandroid.injected.signing.key.alias="$KEY_ALIAS" \
          -Pandroid.injected.signing.key.password="$KEY_PASSWORD"
          mv "app/build/outputs/apk/apk/app-apk.apk" "app/build/outputs/apk/apk/JoyConDroid-$GITHUB_REF_NAME.apk"
          git update-index --no-assume-unchanged version.json

      - name: Publish
        uses: softprops/action-gh-release@v1
        with:
          files: app/build/outputs/apk/apk/JoyConDroid-${{ github.ref_name }}.apk
          generate_release_notes: true

      - name: Commit version.json
        run: |
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add version.json
          git commit -m "Update version.json"

      - name: Push version.json
        uses: ad-m/github-push-action@v0.8.0
